.addMapDrawer {
  z-index: 1300 !important;
  .MuiBackdrop-root {
    background: #00000020;
  }
  .MuiPaper-root {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
    height: calc(100vh - 10px);
    top: 10px;
    right: 10px;
    box-sizing: border-box;
    padding: 0.5rem;
  }
  .dialogHedaer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid #dddddd;
    .dialogHeading {
      color: $blackColor;
      font-family: $fontPrimary;
      font-size: $font_14;
      font-weight: $fw_400;
    }
    .iconBtn {
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .dialogBody {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .eachFeildGrp {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .label {
        color: #00000099;
        font-family: $fontPrimary;
        font-size: $font_12;
        font-weight: $fw_500;
      }
      .defaultTextFeild {
        &.text {
          .MuiInputBase-root {
            height: 30px;
          }
        }
        &.multiline {
          .MuiInputBase-root {
            padding: 8px 14px;
          }
        }
        .MuiInputBase-root {
          background: $whiteColor;
          color: $blackColor;
          font-weight: $fw_400;
          font-size: 12px;
          box-sizing: border-box;
          border-radius: 4px;
          border: 1.4px solid #c8c7ce;
          font-family: $fontPrimary;
          width: 100%;

          fieldset {
            border: 0 !important;
          }
        }
      }
    }
    .dialogActionBtn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
      margin-top: 1.5rem;
      button {
        text-transform: capitalize;
        font-family: $fontPrimary;
        font-size: $font_14;
        font-weight: $fw_500;
        padding: 6px 15px;
        &:first-child {
          color: $primaryColor;
          &:hover {
            background-color: transparent;
          }
        }
        &:last-child {
          color: $whiteColor;
          background-color: $primaryColor;
        }
      }
    }
  }
}
.mapViewContainer {
  width: 330px;
  height: 100vh;
  background-color: $whiteColor;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid #dddddd;
    button {
      text-transform: capitalize;
      font-family: $fontPrimary;
      font-weight: $fw_400;
    }
    .backBtn {
      font-size: $font_14;
      color: $blackColor;
      padding: 0;
    }
    .actionGrp {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .importBtn {
        border: 1px solid #3c4043;
        padding: 2px 10px;
        color: $whiteColor;
        font-size: $font_12;
        border-radius: 4px;
        background: #3c4043;
        &:hover {
          background: #3c4043;
        }
      }
      .iconBtn {
        padding: 0;
        &:hover {
          background: transparent;
        }
      }
    }
  }
  .viewContent {
    padding: 1rem 0 0;
    .mapDetails {
      font-family: $font-secondary;
      font-weight: $fw_400;
      letter-spacing: 0;
      .mapTitle {
        color: #000000e6;
        font-size: $font_16;
      }
      .mapCreated {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #000000cc;
        font-size: $font_12;
      }
      .mapDescription {
        color: #000000b3;
        font-size: $font_12;
        margin-top: 0.5rem;
      }
    }
    .markersBlock {
      margin-top: 1.5rem;
      .blockHeading {
        color: #202124;
        font-family: $font-secondary;
        font-size: $font_16;
        font-weight: $fw_500;
      }
      .markersContainer {
        .markersList {
          margin-top: 0.5rem;
          .filterGrp {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 0.5rem;
            .defaultTextFeild {
              .MuiInputBase-root {
                background: $whiteColor;
                color: $blackColor;
                font-weight: $fw_500;
                font-size: 12px;
                box-sizing: border-box;
                border-radius: 4px;
                border: 1.4px solid #c8c7ce;
                background-color: #f2f2f2;
                font-family: $fontPrimary;
                width: 100%;
                height: 30px;
                fieldset {
                  border: 0 !important;
                }
              }
            }
            .defaultAutoComplete {
              width: 100%;
              .MuiFormControl-root {
                width: 100%;
              }
              .MuiInputBase-root {
                background: $whiteColor;
                color: $blackColor;
                font-weight: $fw_400;
                font-size: 12px;
                box-sizing: border-box;
                border-radius: 4px;
                border: 1.4px solid #c8c7ce;
                background-color: #f2f2f2;
                font-family: $fontPrimary;
                width: 100%;
                height: 30px;
                fieldset {
                  border: 0 !important;
                }
              }
            }
          }
          .listContainer {
            margin-top: 10px;
            height: calc(100vh - 250px);
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            .eachListItem {
              border-radius: 8px;
              background: #edf5e0;
              padding: 8px;
              .markerHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                .location {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  color: $blackColor;
                  font-family: $font-secondary;
                  font-size: $font_14;
                  font-weight: $fw-400;
                }
                .locationType {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  color: $blackColor;
                  font-family: $font-secondary;
                  font-size: $font_12;
                  font-weight: $fw-400;
                }
              }
              .markerDesc {
                color: #000000cc;
                text-overflow: ellipsis;
                font-family: $font-secondary;
                font-size: $font_12;
                font-weight: $fw-400;
                line-height: 130%;
              }
              .markerFooter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 0.5rem;
                .latLang {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  color: #034a75;
                  font-family: $font-secondary;
                  font-size: $font_12;
                  font-weight: $fw_400;
                }
                .createdDate {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  color: #000000b3;
                  font-family: $font-secondary;
                  font-size: $font_12;
                  font-weight: $fw_400;
                }
              }
            }
          }
          .showAllBtn {
            border-radius: 4px;
            border: 1px solid #202124;
            color: #202124;
            font-family: $fontPrimary;
            font-size: $font_12;
            font-weight: $fw_500;
            text-transform: capitalize;
            padding: 3px 12px;
          }
        }
        .nodataGrp {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 75vh;
          width: 60%;
          margin: 0 auto;
          .nodataTxt {
            color: $blackColor;
            text-align: center;
            font-family: $font-secondary;
            font-size: $font_14;
            font-weight: $fw-400;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
.addMarkerDialog {
  padding: 0.8rem;
  .dialogHeading {
    color: $blackColor;
    font-family: $fontPrimary;
    font-size: $font_16;
    font-weight: $fw_500;
    margin: 0 0 1rem 0;
  }
  .eachFeildGrp {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    label {
      margin-bottom: 5px;
      color: #00000099;
      font-family: $fontPrimary;
      font-size: $font_12;
      font-weight: $fw_500;
      margin-bottom: 4px;
    }
    .defaultTextFeild {
      &.text {
        .MuiInputBase-root {
          height: 32px;
        }
      }
      .MuiInputBase-root {
        background: $whiteColor;
        color: $blackColor;
        font-weight: $fw_400;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #C8C7CE;
        font-family: $fontPrimary;
        width: 100%;

        fieldset {
          border: 0 !important;
        }
      }
    }
    .defaultAutoComplete {
      width: 100%;
      .MuiFormControl-root {
        width: 100%;
      }
      .MuiInputBase-root {
        background: $whiteColor;
        color: $blackColor;
        font-weight: $fw_400;
        font-size: 12px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1.4px solid #c8c7ce;
        font-family: $fontPrimary;
        width: 100%;
        height: 32px;
        fieldset {
          border: 0 !important;
        }
      }
    }
  }
  .actionBtnGrp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
    margin-top: 1rem;
    button {
      text-transform: capitalize;
      text-align: center;
      font-family: $fontPrimary;
      font-size: $font_14;
      font-weight: $fw_500;

      &:first-child {
        color: $primaryColor;
        &:hover {
          background-color: transparent;
        }
      }
      &:last-child {
        background-color: $primaryColor;
        color: $whiteColor;
        padding: 4px 20px;
      }
    }
  }
}
.showAllMarkerDialog {
  .dialogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    .dialogTitle {
      color: #201c1c;
      font-family: $fontPrimary;
      font-size: $font_16;
      font-weight: $fw_500;
      letter-spacing: -0.25px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .filterGrp {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .defaultTextFeild {
        .MuiInputBase-root {
          background: $whiteColor;
          color: $blackColor;
          font-weight: $fw_400;
          font-size: 12px;
          box-sizing: border-box;
          border-radius: 4px;
          border: 1.4px solid #c8c7ce;
          font-family: $fontPrimary;
          width: 200px;
          height: 30px;

          fieldset {
            border: 0 !important;
          }
        }
      }
      .defaultAutoComplete {
        width: 200px;
        .MuiFormControl-root {
          width: 100%;
        }
        .MuiInputBase-root {
          background: $whiteColor;
          color: $blackColor;
          font-weight: $fw_400;
          font-size: 12px;
          box-sizing: border-box;
          border-radius: 4px;
          border: 1.4px solid #c8c7ce;
          font-family: $fontPrimary;
          width: 100%;
          height: 30px;
          fieldset {
            border: 0 !important;
          }
        }
      }
      .iconBtn {
        padding: 0;
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

#importModal {
  display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  .modalContent {
    background-color: #fff;
    padding: 24px;
    border: 1px solid #888;
    width: 58%;
    max-width: 800px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    .modalHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.8rem;
      .modalHeading {
        color: #0d0d0d;
        font-family: $fontPrimary;
        font-size: $font_24;
        font-weight: $fw_500;
        margin: 0;
      }
      img {
        cursor: pointer;
      }
    }
    .instructions {
      background-color: #ffa80066;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ffeeba;
      text-align: left;
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      ol {
        margin: 0;
        padding-inline-start: 13px;
      }
      p,
      li {
        color: $blackColor;
        font-family: $fontPrimary;
        font-size: $font_14;
        font-weight: $fw_400;
        margin: 0;
      }
    }
    .dropzone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 150px;
      padding: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      border-radius: 8px;
      border: 1px dashed #1b2459;
      background: #f2f6fb;
      box-sizing: border-box;
      p {
        margin: 0;
        color: $blackColor;
        font-family: $fontPrimary;
        font-size: $font_16;
        font-weight: $fw_400;
        &.helperText {
          color: #636363;
          font-size: $font_14;
          margin-top: 1rem;
        }
      }
    }
    .fileUpload {
      margin-bottom: 20px;
      p {
        margin: 0;

        color: $blackColor;
        font-family: $fontPrimary;
        font-size: $font_14;
      }
    }
    .btnGrp {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 4.5rem;
      gap: 1rem;
      button {
        text-align: center;
        font-family: $fontPrimary;
        font-size: $font_16;
        font-weight: $fw_500;
        padding: 7px 35px;
        border-radius: 6px;
        border: 0;
        &:first-child {
          color: #75a237;
          background: transparent;
        }
        &:last-child {
          background: #75a237;
          color: $whiteColor;
        }
      }
    }
  }
}
