#assignUserDialog {
  .MuiPaper-root {
    border-radius: 8px;
    background: $whiteColor;
    padding: 1rem;
    max-width: 300px;
  }
  .dialogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: 0;
    .dialogHeading {
      color: $blackColor;
      font-family: $fontPrimary;
      font-size: clamp(15px, 0.93vw, 20px);
      font-weight: 400;
    }
    .closeBtn {
      padding: 0;
      border-radius: 3px;
      background: #e3e3e3;
      color: $blackColor;
    }
  }
  .dialogContent {
    padding: 0;
    margin-top: 1rem;
    .defaultTextFeild {
      width: 100%;
      .MuiInputBase-root {
        background: $whiteColor;
        color: #6a718599;
        font-weight: 400;
        font-size: 13.5px;
        box-sizing: border-box;
        border-radius: 3;
        height: 30px;
        border: 1px solid $textFeildStroke;
        font-family: $fontPrimary;
        font-size: clamp(0.75em, 0.72vw, 1.1em);

        fieldset {
          border: 0 !important;
        }
      }
    }
    .usersList {
      height: 300px;
      overflow-y: auto;
      li {
        padding: 4px 0;
        &.Mui-selected {
          background: transparent;
        }
        .MuiListItemIcon-root {
          min-width: inherit;
        }
        .radioBtn {
          .MuiFormControlLabel-root {
            margin: 0;
          }
          .MuiButtonBase-root {
            color: #d9d9d9;
            &.Mui-checked {
              color: $primaryColor;
            }
          }
          .MuiSvgIcon-root {
            font-size: 18px;
          }
        }
        .listText {
          span {
            color: $blackColor;
            font-family: $fontPrimary;
            font-size: clamp(14px, 0.93vw, 18px);
            font-weight: 400;
          }
        }
      }
    }
  }
  .dialogActions {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    button {
      text-transform: capitalize;
      box-shadow: none;
      border-radius: 4px;
      font-size: clamp(11px, 0.72vw, 15px);
      font-weight: 400;
      padding-block: 3px;
      &.addUserBtn {
        background: #d948411a;
        color: $blackColor;
        font-family: $fontPrimary;
        letter-spacing: 0;
        padding-inline: 15px;
      }
      &.confirmbtn {
        color: $whiteColor;
        background: $primaryColor;
        font-family: $fontPrimary;
        padding-inline: 20px;
      }
    }
  }
}
.deleteDialog {
  .MuiPaper-root {
    border-radius: 8px;
    background: $whiteColor;
    padding: 1rem;
    max-width: 300px;
  }
  .dialogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: 0;
    .dialogHeading {
      color: $blackColor;
      font-family: $fontPrimary;
      font-size: clamp(15px, 0.93vw, 20px);
      font-weight: 400;
    }
    .closeBtn {
      padding: 0;
      border-radius: 3px;
      background: #e3e3e3;
      color: $blackColor;
    }
  }
  .dialogContent {
    padding: 0;
    margin-top: 1rem;
    overflow: initial !important;
    p {
      font-family: $fontPrimary;
      font-size: clamp(13px, 0.83vw, 18px);
      font-weight: 400;
      margin: 0;
    }
    label {
      font-family: $fontPrimary;
      font-size: clamp(12px, 0.72vw, 15px);
      font-weight: 400;
    }
    .defaultTextFeild {
      margin-top: 4px;
      width: 100%;
      .MuiInputBase-root {
        background: $whiteColor;
        color: #6a718599;
        font-weight: 400;
        font-size: 13.5px;
        box-sizing: border-box;
        border-radius: 3;
        height: 30px;
        border: 1px solid $textFeildStroke;
        font-family: $fontPrimary;
        font-size: clamp(0.75em, 0.72vw, 1.1em);

        fieldset {
          border: 0 !important;
        }
      }
    }
  }
  .dialogActions {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
    button {
      text-transform: capitalize;
      box-shadow: none;
      border-radius: 4px;
      font-size: clamp(12px, 0.72vw, 15px);
      font-weight: 400;
      padding-block: 3px;
      &.cancelBtn {
        color: $secondaryColor;
        font-family: $fontPrimary;
        letter-spacing: 0;
        padding-inline: 15px;
      }
      &.confirmbtn {
        color: $whiteColor;
        background: $secondaryColor;
        font-family: $fontPrimary;
        padding-inline: 20px;
      }
    }
  }
}
