@mixin first-child-sticky {
  position: sticky !important;
  left: 0 !important;
  padding-left: 15px !important;
}

@mixin last-child-sticky {
  position: sticky !important;
  right: 0 !important;
  padding-left: 15px !important;
}

$colorTableHeader: #e6f6ee;
$headerTextColor: #545961;
$bodyTextColor: #24282d;
$bodyBorderColor: #edf2f7;
$backBtnCOlor: #e47078;
$labelColor: #4f4f4f;
$inputBorderColor: #9c9c9c;

.mainTable {
  .tableContainer {
    height: calc(-160px + 100vh);
    overflow: auto;
    background: transparent;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);

    .table {
      border-collapse: collapse !important;
      width: 100%;

      .thead {
        height: 32px;
        position: sticky;
        top: 0px;
        z-index: 2;
        background: $colorTableHeader !important;

        .table-row {
          background: $colorTableHeader !important;
          font-weight: 600;
          padding: 6px 12px;

          .cell {
            color: $blackColor;
            font-size: clamp(12px, 0.72vw, 16px);
            font-style: normal;
            font-weight: 500;
            text-transform: capitalize;
            box-sizing: border-box;
            padding: 0 12px;

            &:first-child {
              border-radius: 10px 0 0 0;
              background-color: $colorTableHeader;
              overflow: hidden;
              @include first-child-sticky;
            }

            &:last-child {
              background-color: $colorTableHeader;
              border-radius: 0 10px 0 0;
              overflow: hidden;
              @include last-child-sticky;
            }

            cursor: default !important;

            img {
              cursor: pointer;
            }
          }
        }
      }

      .tbody {
        .table-row {
          .cell {
            padding: 6px 12px !important;
            font-size: clamp(12px, 0.72vw, 16px);
            text-align: start;
            box-shadow: none !important;
            background-color: $whiteColor !important;
            font-weight: 400;
            color: $blackColor;

            &:first-child {
              @include first-child-sticky;
            }

            &:last-child {
              @include last-child-sticky();
            }

            input {
              height: 16px;
              width: 18px;
              display: flex;
              align-items: center;
            }
          }

          &:hover {
            .cell {
              background-color: $whiteColor !important;
            }
          }
        }
      }
    }
  }

  .MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }
}

.tablePagenationBlock {
  padding: 0.625rem 0.625rem 0.625rem 0.9375rem !important;
  box-shadow: none !important;
  border: 1px solid #efefef !important;

  .tablePagination {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    color: #000000 !important;
    border-radius: 0 !important;
    width: 100% !important;

    & * {
      font-size: clamp(12px, 0.625vw, 14px);
      font-family: $fontPrimary;
      letter-spacing: 0;
      font-weight: 500;
    }

    .label {
      margin-right: 10px;
    }

    .rowPerPage {
      display: flex;
      align-items: center;

      .selectComponent {
        font-family: $fontPrimary;
        border: 1px solid $inputBorderColor;

        &:hover {
          border-color: $inputBorderColor;
        }

        &:focus-within {
          border-color: $inputBorderColor;
        }

        &.Mui-focused {
          border-color: $inputBorderColor;
        }
      }

      fieldset {
        border: 0;
      }
    }

    .totalCount {
      font-size: clamp(12px, 0.625vw, 14px);
      font-family: $fontPrimary;
      font-weight: 500;
      margin-top: 5px;
      margin-right: 1rem;
      white-space: pre-wrap;
      color: $blackColor;
    }
  }
}