$primaryColor: #45a845;
$secondaryColor: #d94841;
$greenColor: #05a155;
$blackColor: #000000;
$whiteColor: #ffffff;
$textFeildStroke: #d2dff4;

//font-family

$fontPrimary: "Inter", sans-serif;
$font-secondary: "Poppins", sans-serif;
