.markersPageWeb {
    background-color: #2f5345;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0.5rem;
}

.markersPageWeb .googleMapBlock {
    width: 75%;
    height: 100vh;
    flex:1 ;
}

